<h1>Welcome to {{ hotelName }}</h1>
<div [hidden]="hideRooms">
  Number of Rooms:
  <!-- box syntax -->
  <div
    [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

<!-- {{ rooms?.availableRooms ?? "No rooms" }} -->

<div *ngIf="selectedRoom">{{ selectedRoom | json }}</div>

<app-rooms-list
  [rooms]="roomList"
  (selectedRoom)="selectRoom($event)"
></app-rooms-list>

<!-- banana syntax -->
<button type="button" class="btn btn-primary" (click)="toggle()">Toggle</button>
